<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div *ngIf="isLoggedIn">
    Login: {{loginType}}<br />
    Hello: {{displayName}}<br />
    <img src="{{displayImage}}" style="height:30px"><br />
    <button (click)="doLogout()">Log out</button><br />
  </div>
  <div *ngIf="!isLoggedIn">
    Email: <input [(ngModel)]="email" type="email" /><br />
    Password: <input [(ngModel)]="password" type="password" /><br />
    <button (click)="doLogin()">Log in</button><br />
    <button (click)="doFacebookLogin()">Log in using Facebook</button><br />
  </div>

  <button (click)="tryAuthorizedOnly()">Try authorized page</button><br />
</div>

